html,
body {
    font-size: 10px;
    padding: 0;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.fs-7 {
    font-size: .75rem;
}

.fs-8 {
    font-size: .625rem;
}

.pt-6 {
    padding-top: 5rem;
}

.form-check-input:disabled~.form-check-label {
    opacity: 1 !important;
}

.sticky-header {
    position: sticky !important;
    top: 0 !important;
    z-index: 10;
}

.sticky-column {
    position: sticky;
    left: 0;
    width: 120px;
    z-index: 8;
}

.sticky-column-second {
    position: sticky;
    left: 120px;
    z-index: 7;
}

.dropdown-toggle::before {
    display: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: bright) {
    html {
        color-scheme: bright;
    }

    body {
        color: white;
        background: black;
    }
}

.hoverCol:hover {
    background-color: lightgray;
}

.hoverColHidden {
    visibility: hidden;
}

.hoverCol:hover .hoverColHidden {
    visibility: visible;
}