@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Custom colors
$custom-colors: (
  "blue": #6171FF,
  "vivid-orange": #FF5E0E
);

// Merge custom colors with theme colors
$theme-colors: map-merge($theme-colors, $custom-colors);

// Recreate theme-colors-rgb map
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

// Set the base spacer
$spacer: 1rem;

// Font sizes
$display-font-sizes: (
  1: 3rem,
  2: 2.5rem,
  3: 2rem,
  4: 1.5rem,
  5: 1rem,
  6: .5rem
);

$display-font-weight: 300;
$display-line-height: $headings-line-height;

// Border radius
$border-radius: 3px;

// Merge the maps
$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $custom-colors);
$utilities: map-merge($utilities,
    ("color": map-merge(map-get($utilities, "color"),
        (values: map-merge(map-get(map-get($utilities, "color"), "values"),
            ($all-colors ),
          ),
        ),
      ),
      "background-color": map-merge(map-get($utilities, "background-color"),
        (values: map-merge(map-get(map-get($utilities, "background-color"), "values"),
            ($all-colors ),
          ),
      ),
    )
  )
);

// Import Bootstrap utilities API
@import "bootstrap/scss/utilities/api";

// Apply custom heading sizes
@each $level, $size in $display-font-sizes {
  h#{$level} {
    font-size: $size;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
  }
}
